PGHOST=your_dsql_hostname
PGUSER=admin
PGDATABASE=postgres
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=us-east-1
# AWS_SESSION_TOKEN= (Leave commented out if using permanent AKIA credentials)
